@import "../variables.scss";

.chains-title {
  font-weight: bold;
  margin: 53px 0 46px;
  font-size: 2.75em;
  width: 90%;
  text-align: center;

  @media screen and (max-width: 992px) {
    font-size: 2em;
    text-align: center;
    margin-bottom: 48px !important;
    margin-top: 40px !important;
  }
}

.chains-overview {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  align-items: stretch;
  margin-top: 27.5px;
  margin-bottom: 45px;
}

.chains-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 70px;
  grid-auto-flow: row dense;
  justify-content: center;
  width: 80%;


  @media screen and (min-width: 800px) and (max-width: 1111px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 800px) {
    grid-template-columns: 1fr;
  }
}

.chains {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  margin-bottom: 35px;
}

.chains-heading {
  margin-bottom: 27px;

  @media screen and (max-width: 992px) {
    margin-top: 93px;
  }
}

.supported-chains-link {
  color: #000;
  text-decoration: underline;

  &:hover {
    color: #000;
    opacity: 0.77;
  }
}
