@import "../variables.scss";

.our-partners {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 5px auto 7px;

  @media screen and (max-width: 767px) {
    margin: 5px auto 2px;
  }

  .our-partners-title {
    margin: 60px 0 34px;
    font-weight: bold;
    font-size: 2.75em;

    @media screen and (max-width: 992px) {
      font-size: 2em;
      margin-top: 136px !important;
    }
  }

  .our-partners-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 12px;
    width: 80%;

    @media screen and (max-width: 1111px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 800px) {
      grid-template-columns: 1fr;
    }
  }
}
