@import "../variables.scss";

.stats-container {
  width: 100%;

  .stats-title {
    font-size: 2.75em;
    font-weight: bold;
    text-align: center;
    margin: 95px 0 45px;

    @media screen and (max-width: 992px) {
      font-size: 2em;
    }
  }

  .stats {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;

    @media screen and (max-width: 992px) {
      flex-direction: column;
      width: 80%;
    }

    .stat-circle {
      width: 215px;
      height: 215px;
      border-radius: 50%;
      background-color: $white;
      border: 12px solid $blue;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 0 50px;
      color: $dark;
      box-shadow: #3d7dd6 0px 3px 12px;

      @media screen and (max-width: 992px) {
        margin: 0 0 50px;
      }

      .stat-circle-title {
        font-size: 1.1em;
        text-align: center;
        font-weight: bold;
        width: 80%;
        opacity: 0.8;

        @media screen and (max-width: 992px) {
          font-size: 0.9em;
        }
      }

      .stat-circle-number {
        font-size: 2.75em;
        font-weight: bold;

        @media screen and (max-width: 992px) {
          font-size: 2em;
        }
      }
    }
  }
}
