@import "../../variables.scss";

.client {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 30px 30px;

  @media screen and (max-width: 767px) {
    margin: 0 30px 60px;
  }
}
