/* FAQItem */

.faq-item {
  margin-bottom: 2rem;
  border-bottom: 1px solid #eaeaea;
}

.faq-item:last-child {
  margin-bottom: 0;
}

.faq-item__question {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.faq-item__answer {
  font-size: 1.25rem;
  line-height: 1.5;
}

.faq-item__question__icon {
  margin-right: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
}
