:root {
  --white: #ffffff;
  --black: #000000;
  --dark: #0d1014;
  --blue: #0066ff;
  --red: #e84141;
}

* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

.align-center {
  text-align: center;
}

.underline-on-hover:hover {
  text-decoration: underline;
}

.pointer {
  cursor: pointer;
}
